<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Table Edit HocVien</h2>
  <form method="post" >
    <table class="table">
      <tbody>
      <tr>

        <td><input th:field="${list.id}" readonly></td>
        <td><input th:field="${list.name}"></td>
        <td><input th:field="${list.date}"></td>
        <td><input th:field="${list.address}"></td>
        <td><input th:field="${list.phone}"></td>
        <td><input th:field="${list.email}"></td>
        <td><input th:field="${list.classroom}"></td>

      </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-success">Edit HocVien</button>
    <a href="/home" class="btn btn-success">Quit</a>

  </form>
</div>

</body>
</html>